In [2]:
import pandas as pd
import pandasql as ps
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv("international_matches.csv", index_col=0)
df

,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
date,,,,,,,,,,,,,,,,,,,,,
1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,0,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,0,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,3,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,1,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,2,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,3,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,1,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23921 entries, 1993-08-08 to 2022-06-14
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   home_team                      23921 non-null  object
 1   away_team                      23921 non-null  object
 2   home_team_continent            23921 non-null  object
 3   away_team_continent            23921 non-null  object
 4   home_team_fifa_rank            23921 non-null  int64
 5   away_team_fifa_rank            23921 non-null  int64
 6   home_team_total_fifa_points    23921 non-null  int64
 7   away_team_total_fifa_points    23921 non-null  int64
 8   home_team_score                23921 non-null  int64
 9   away_team_score                23921 non-null  int64
 10  tournament                     23921 non-null  object
 11  city                           23921 non-null  object
 12  country                        23921 non-null  object
 13  neutral_location               23921 non-null  bool
 14  shoot_out                      23921 non-null  object
 15  home_team_result               23921 non-null  object
 16  home_team_goalkeeper_score     8379 non-null   float64
 17  away_team_goalkeeper_score     8095 non-null   float64
 18  home_team_mean_defense_score   7787 non-null   float64
 19  home_team_mean_offense_score   8510 non-null   float64
 20  home_team_mean_midfield_score  8162 non-null   float64
 21  away_team_mean_defense_score   7564 non-null   float64
 22  away_team_mean_offense_score   8312 non-null   float64
 23  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(9)
memory usage: 4.4+ MB

In [6]:
df.isnull().sum()

home_team                            0
away_team                            0
home_team_continent                  0
away_team_continent                  0
home_team_fifa_rank                  0
away_team_fifa_rank                  0
home_team_total_fifa_points          0
away_team_total_fifa_points          0
home_team_score                      0
away_team_score                      0
tournament                           0
city                                 0
country                              0
neutral_location                     0
shoot_out                            0
home_team_result                     0
home_team_goalkeeper_score       15542
away_team_goalkeeper_score       15826
home_team_mean_defense_score     16134
home_team_mean_offense_score     15411
home_team_mean_midfield_score    15759
away_team_mean_defense_score     16357
away_team_mean_offense_score     15609
away_team_mean_midfield_score    15942
dtype: int64